<app-main-nav></app-main-nav>

<div class="category_description">
  <img alt="Category image" src="https://picsum.photos/300/150">

  <div class="category_description__data">
    <h1 class="category_name">{{currentCategory?.name}}</h1>
    <p [innerHTML]="currentCategory?.description"></p>
  </div>
</div>

<div *ngFor="let article of articleList" class="article">
  <img alt="Article image" src="https://picsum.photos/300/150">
  <div class="article__data">
    <h3 class="article_name">{{article.title}}</h3>
    <h4>{{article.preview_text}}</h4>
  </div>
  <span (click)="articleReadClick(article)" class="read-button">Read</span>
</div>


