<header>
  <h1 class="logo" routerLink="/">Logo</h1>
  <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
  <label for="navbar-toggle" class="navbar-toggle-label"><span></span></label>
  <nav>
    <ul>
      <li><a [routerLink]="null">Blog</a></li>
      <li><a [routerLink]="null">Projects</a></li>
      <li><a [routerLink]="null">About Me</a></li>
    </ul>
  </nav>
</header>

<!-- container for adding the height so the content would be bellow the nav -->
<div class="dummy-container"></div>


