<div class="container">

  <h1>Categories management</h1>
  <app-admin-categories-edit (actionSuccess)="crudAction()" *ngIf="editing"
                             [category]="selectedCategory"></app-admin-categories-edit>
  <button (click)="createCategory()" class="create-article" mat-raised-button>Create Category</button>

  <table [dataSource]="categoryList" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let row" mat-cell>{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let row" mat-cell>{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let row" mat-cell>
        <button (click)="editCategory(row)" mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: tableColumns;" mat-row></tr>
  </table>

</div>


