<app-main-nav></app-main-nav>

<div class="container">

  <h1>Admin Panel Login</h1>

  <form (ngSubmit)="login()" [formGroup]="form" role="form">
    <label for="login">Login </label>
    <input class="text-input" formControlName="username" id="login" placeholder="login" type="text">

    <label for="password">Password </label>
    <input class="text-input" formControlName="password" id="password" placeholder="password" type="password">

    <label for="check">Keep me logged in </label>
    <input formControlName="keepLoggedIn" id="check" type="checkbox">

    <br>
    <span (click)="login()" class="button"> Login </span>
  </form>

</div>
