.container {
  margin: 2em;
  padding: 4em;

  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  $color: #f3aa1f;

  background-color: $color;
  display: inline-block;
  margin-top: 1em;
  padding: .5em 1em;

  user-select: none;

  &:hover {
    background-color: lighten($color, 5);
  }
}
