.container {
  margin: 2em;
  padding: 4em;

  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .form-element {
    margin-bottom: 20px;
  }

  input {
    width: 30%;
  }

  button {
    $padding-value: 4em;
    padding-left: $padding-value !important;
    padding-right: $padding-value !important;
  }
}
