<div class="container">

  <h1>Admin Panel Login</h1>

  <form [formGroup]="form" role="form">
    <input [status]="fieldStatus('username')" class="form-element" formControlName="username" id="login" nbInput placeholder="login" type="text">
    <input [status]="fieldStatus('password')" class="form-element" formControlName="password" id="password" nbInput placeholder="password"
           type="password">
    <nb-checkbox class="form-element" formControlName="keepLoggedIn">Keep me logged in</nb-checkbox>

    <br>
    <button [disabled]="form.invalid" class="button" nbButton size="large" status="success"> Login</button>
  </form>
</div>
