<mat-card>
  <mat-card-header *ngIf="category == null">Create Category</mat-card-header>
  <mat-card-header *ngIf="category != null">Edit Category</mat-card-header>

  <form [formGroup]="form" role="form">

    <mat-form-field class="form-element">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Article title">
    </mat-form-field>

    <div class="icon-picker">
      <input #iconInput (change)="iconPicker(iconInput)" accept="image/*" hidden id="icon_input" type="file">
      <label for="icon_input">
        <button (click)="iconInput.click()" color="primary" mat-raised-button>Select File</button>
      </label>

      <img *ngIf="downloadedImageData !== undefined" [src]="downloadedImageData" alt="preview" class="preview-icon">
      <img *ngIf="downloadedImageData === undefined" [src]="selectedImageData" alt="preview" class="preview-icon">

      <mat-form-field class="form-element icon-label">
        <mat-label>Icon</mat-label>
        <input [value]="form.controls.icon.value?.name" matInput>
      </mat-form-field>
    </div>

    <editor (onKeyPress)="descriptionUpdate($event)" [init]="tinyMceSettings"
            [initialValue]="form.controls.description.value" apiKey="3yehonyxa2vu4mcrt70hvsq3u5014t01hteazwtxmx3yxbek"></editor>

    <button (click)="submitForm()" *ngIf="category == null" [disabled]="!form.valid" class="publish-true submit-form"
            mat-raised-button>Create category
    </button>
    <button (click)="submitForm()" *ngIf="category != null" [disabled]="!form.valid" class="publish-true submit-form"
            mat-raised-button>Save category
    </button>
    <button (click)="actionSuccess.emit(false)" class="cancel-button" color="accent" mat-raised-button>Cancel</button>

  </form>
</mat-card>
