<mat-card>
  <mat-card-header *ngIf="category == null">Create Category</mat-card-header>
  <mat-card-header *ngIf="category != null">Edit Category</mat-card-header>

  <form [formGroup]="form" role="form">

    <mat-form-field class="form-element">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Article title">
    </mat-form-field>

    <div class="icon-picker">
      <input #iconInput type="file" id="icon_input" (change)="iconPicker(iconInput)" hidden accept="image/*">
      <label for="icon_input">
        <button mat-raised-button color="primary" (click)="iconInput.click()">Select File</button>
      </label>

      <img *ngIf="downloadedImageData !== undefined" [src]="downloadedImageData" alt="preview" class="preview-icon">
      <img *ngIf="downloadedImageData === undefined" [src]="selectedImageData" alt="preview" class="preview-icon">

      <mat-form-field class="form-element icon-label">
        <mat-label>Icon</mat-label>
        <input matInput [value]="form.controls.icon.value?.name">
      </mat-form-field>
    </div>

    <editor apiKey="3yehonyxa2vu4mcrt70hvsq3u5014t01hteazwtxmx3yxbek" [init]="tinyMceSettings"
            (onKeyPress)="descriptionUpdate($event)" [initialValue]="form.controls.description.value"></editor>

    <button *ngIf="category == null" [disabled]="!form.valid" (click)="submitForm()" mat-raised-button
            class="publish-true submit-form">Create category
    </button>
    <button *ngIf="category != null" [disabled]="!form.valid" (click)="submitForm()" mat-raised-button
            class="publish-true submit-form">Save category
    </button>
    <button class="cancel-button" mat-raised-button color="accent" (click)="actionSuccess.emit(false)">Cancel</button>

  </form>
</mat-card>
