<main>
  <div class="main-content-text">

    <h3>Hi! My name is:</h3>
    <h1>Philip Policki</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla tortor nunc, sed gravida ante
       tristique ut. Nam a nisi ullamcorper, venenatis magna et, hendrerit enim. Donec placerat, est vitae ullamcorper
       sagittis, est dui eleifend neque, consectetur porttitor leo massa quis ligula. Donec vitae neque mauris.</p>
    <br>
    <a [routerLink]="null" class="button">Read More</a>
    <a class="button" routerLink="/categories">Projects</a>
  </div>

  <img alt="Photo" src="https://picsum.photos/300/500">
</main>

<section class="skills">

  <h2 class="skills-title">My Skills</h2>

  <div class="grid-container">
    <div class="element">
      <img alt="" class="skill-item-icon" src="assets/icons/web-front.svg">
      <h3 class="skill-item-name">Frontend Development</h3>
      <p class="skill-item-description">Lorem ipsum doloret sit amet asdasdas aklsdjl j kjalksjd l aksjdl kjas lkj
                                        skj </p>
    </div>

    <div class="element">
      <img alt="" class="skill-item-icon" src="assets/icons/server.svg">
      <h3 class="skill-item-name">Backend Development</h3>
      <p class="skill-item-description">Lorem ipsum doloret sit amet asdasdas aklsdjl j kjalksjd l aksjdl kjas lkj
                                        skj </p>
    </div>

    <div class="element">
      <img alt="" class="skill-item-icon" src="assets/icons/typescript.svg">
      <h3 class="skill-item-name">TS / JS</h3>
      <p class="skill-item-description">Lorem ipsum doloret sit amet asdasdas aklsdjl j kjalksjd l aksjdl kjas lkj
                                        skj </p>
    </div>

    <div class="element">
      <img alt="" class="skill-item-icon" src="assets/icons/python-file.svg">
      <h3 class="skill-item-name">Python</h3>
      <p class="skill-item-description">Lorem ipsum doloret sit amet asdasdas aklsdjl j kjalksjd l aksjdl kjas lkj
                                        skj </p>
    </div>
  </div>
</section>

<section class="recent">
  <h2 class="skills-title">Recent</h2>

  <div class="sub-container">
    <div class="recent-field">
      <p>Lorem ipsum itd itd</p>
    </div>

    <div class="recent-field">
      <p>Lorem ipsum itd itd</p>
    </div>
  </div>
</section>

<app-main-footer></app-main-footer>
