<div class="container">
  <h1>Articles management</h1>

  <app-admin-articles-edit (actionSuccess)="crudAction($event)" *ngIf="edit"
                           [article]="selectedArticle"></app-admin-articles-edit>

  <button (click)="createHandler()" class="create-article" mat-raised-button>Create Article</button>

  <table [dataSource]="articleList" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let row" mat-cell>{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>Title</th>
      <td *matCellDef="let row" mat-cell>{{row.title}}</td>
    </ng-container>

    <ng-container matColumnDef="preview">
      <th *matHeaderCellDef mat-header-cell>Preview</th>
      <td *matCellDef="let row" mat-cell>{{row.preview_text}}</td>
    </ng-container>

    <ng-container matColumnDef="published">
      <th *matHeaderCellDef mat-header-cell>Published</th>
      <td *matCellDef="let row" mat-cell>{{row.published}}</td>
    </ng-container>

    <ng-container matColumnDef="upload_date">
      <th *matHeaderCellDef mat-header-cell>Upload date</th>
      <td *matCellDef="let row" mat-cell>{{row.upload_date.toLocaleString()}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let row" mat-cell>
        <button (click)="editHandler(row)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: tableColumns;" mat-row></tr>
  </table>

  <app-loading-indicator *ngIf="loadingData"></app-loading-indicator>
</div>


