.container {
  display: flex;
  overflow: hidden;
}

.side-bar {
  background-color: rgba(218, 244, 255, 0.4);
}

.card {
  box-shadow: 0 1px 3px black;
  border-radius: 2px;

  background-color: white;

  padding: .2em .5em;
  margin: .3em .5em;


  display: flex;

  cursor: pointer;
  user-select: none;
}

.card-icon {
  width: 1vw;
  margin-right: .5em;
}

.main-content {
  width: 100%;
  overflow: scroll;
}

.active-sub-page {
  height: available;
  width: 100%;
}

.logout-button {
  margin-top: auto;
}

