<app-main-nav></app-main-nav>


<div class="container" id="container">
  <div class="side-bar">
    <div class="card" (click)="changeSubPage(1)">
      <img src="assets/icons/article.svg" alt="" class="card-icon">
      <h2>Articles</h2> <br>
    </div>

    <div class="card" (click)="changeSubPage(2)">
      <img src="assets/icons/category.svg" alt="" class="card-icon">
      <h2>Categories</h2>
    </div>


    <div class="card" (click)="changeSubPage(3)">
      <img src="assets/icons/blog.svg" alt="" class="card-icon">
      <h2>Blogs</h2>
    </div>


    <div class="card" (click)="changeSubPage(4)">
      <img src="assets/icons/reserved.svg" alt="" class="card-icon">
      <h2>Other</h2>
    </div>
  </div>


  <div class="main-content">
    <app-admin-articles class="active-sub-page" *ngIf="showArticles"></app-admin-articles>
  </div>
</div>
