<app-main-nav></app-main-nav>


<div class="container" id="container">
  <div class="side-bar">
    <div (click)="changeSubPage(1)" class="card">
      <img alt="" class="card-icon" src="assets/icons/article.svg">
      <h2>Articles</h2> <br>
    </div>

    <div (click)="changeSubPage(2)" class="card">
      <img alt="" class="card-icon" src="assets/icons/category.svg">
      <h2>Categories</h2>
    </div>


    <div (click)="changeSubPage(3)" class="card">
      <img alt="" class="card-icon" src="assets/icons/blog.svg">
      <h2>Blogs</h2>
    </div>


    <div (click)="changeSubPage(4)" class="card">
      <img alt="" class="card-icon" src="assets/icons/reserved.svg">
      <h2>Other</h2>
    </div>
  </div>


  <div class="main-content">
    <app-admin-articles *ngIf="showArticles" class="active-sub-page"></app-admin-articles>
    <app-admin-categories *ngIf="showCategories"></app-admin-categories>

  </div>
</div>
