.container {
  padding: 4em;
  margin: 2em;

  background-color: white;

  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  box-shadow: 0 1px 3px black;
  border-radius: 20px;
  padding: 2em;

  svg {
    height: 20vh;
  }
}
